<form>
  <div>
  <h1>AADHAAR ENROLMENT/UPDATE FORM</h1>
      <p>Aadhaar Enrolment is free and voluntary.No charges are applicable for Form &Aadhaar enrolment.</p>
      <p>In case of Update, provide your UID, Name and only that field which needs Update.</p>
      <p>Please follow the instructions overleaf while filling up the form. Use capital letters Only.</p>
     
  </div>
    <div>      
        <label> Child-Enrolment ID : </label><input type="text" formcontrolname="Child-EnrolmentID" >
        
        
      </div>
      <br>
  <div>
  <label> FirstName: </label><input type="text" formcontrolname="FirstName" >
  <label> LastName: </label><input type="text" formcontrolname="LastName" >
  
</div>
  <h1>
      home works!
  </h1>
</form>
